html {
    background: rgba(199,144,128,100);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

nav {
    background: rgb(199,144,128,100);
    background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    border-bottom-color: none;

}

.navbar-light .navbar-nav .nav-link{
    padding-left: 2rem;
    color: white; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
  
nav a:hover {
    color: black;
}

.intro {
    background: rgb(199,144,128,100);
    height: 100%;
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;      
}

.intro a {
    font-size: 25px;
}

.personal-intro {
    width: 80%; 
    text-align: center;   
    font-size: 50px; 
    color: white; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-logo {
    text-align: center;
    margin-right: 20px;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .intro a {
        width: 35%;
        font-size: 25px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

  .personal-intro {
      font-size: 40px;
  }
}
 

@media (max-width: 480px) {

    .personal-intro {
        font-size: 28px;
        width: 90%;
    }
    .intro a {
        font-size: 18px;
    }
}